<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee https://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	
	<welcome-file-list>
    	<welcome-file>main.do</welcome-file>    
  	</welcome-file-list>
	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<init-param>
			<param-name>throwExceptionIfNoHandlerFound</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		
		<multipart-config>
			<location>C:\\upload\\tmp</location>
			<max-file-size>104857600</max-file-size> <!-- 10mb -->
			<max-request-size>1073741824</max-request-size>
			<file-size-threshold>20971520</file-size-threshold>
		</multipart-config>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>


	<!-- 한글 처리 필터 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>	
	</filter>
	
	<filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!-- sitemesh filter - 전체 레이아웃 -->
	<filter>	
<!-- 		<description>사이트에 레이아웃을 잡는 필터 처리</description>	 -->
		<filter-name>sitemesh</filter-name>	
		<filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>	
	</filter>
	
	<filter-mapping>	
		<filter-name>sitemesh</filter-name>	
		<url-pattern>*.do</url-pattern>	
	</filter-mapping>
	
	<!-- JSP가 없는 경우의 처리. 실제적 404 처리는 CommonExceptionAdvice에서 처리 -->
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/views/error/nomodule404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/views/error/nomodule500.jsp</location>
	</error-page>

</web-app>
