<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.beetmarket.showdown.mapper.ShowdownMapper">	
  	<!-- 이벤트 리스트 -->
  	<select id="list" resultType="com.beetmarket.showdown.vo.ShowdownVO">
  	select no, title, writeDate
  	 from(
  		select rownum rnum, no, title, writeDate
  		from(
	  		SELECT no, title, writeDate
	  		From showdown
	  		<!-- 검색을 달아야한다. -->
	  		<include refid="search"/>
	  		order by no desc
  		)
  	 )
  	where rnum between #{startRow} and #{endRow}
  	</select>
  	<!-- 이벤트 리스트 페이지 처리를 위한 전테 데이터 개수 가져오기 -->
  	<select id="getTotalRow" resultType="Long">
  		select count(*) from showdown 
  		<!-- 검색을 달아야한다. -->
  		<include refid="search" />
  	</select>
  	<!-- 이벤트 리스트의 검색 처리 -->
  	<sql id="search">
  		<if test="word != null and word != ''.toString()">
  		where
  			<!-- prefixOverrides -->
  			<trim prefixOverrides="or">
  			 <!-- 'test': 문자열(String), 't': 문자(char) -> 문자열 - toString()사용 -->
  				<if test="key.indexOf('t')>=0">
  					or title like '%' || #{word} || '%'
  				</if>
  				<if test="key.indexOf('c')>=0">
  					or content like '%' || #{word} || '%'
  				</if>
  			</trim>
  		</if>
  	</sql>
  	<!-- 이벤트 글보기 조회수 1증가 -->
  	<!-- # {obj} 1.변수의 이름, 2.vo의 getter 이름, 3.Map의 key -->
  	<!-- 이벤트 글보기 -->
  	<select id="view" resultType="com.beetmarket.showdown.vo.ShowdownVO">
  		select no, title, content, writeDate, updateDate from showdown where no=#{no}
  	</select>
 	<insert id="write" >
 	 <!-- 먼저 NoticeVO의 no에 setter를 이용해서 시퀀스에서 받아온 번호를 세팅해 준다. -->
 		<selectKey keyProperty="no" resultType="Long" order="BEFORE">
 			select Event_showdown_seq.nextval from dual
 		</selectKey>
 		insert into showdown(no, title, content, pw)
 		values(#{no}, #{title}, #{content}, #{pw})
 	</insert>
 	<!-- 이벤트 글수정 -->
 	<update id="update">
 	<![CDATA[
 		update showdown set title=#{title}, content=#{content} where pw=#{pw} and no=#{no}
 	]]>
 	</update>
 	
 	<!-- 이벤트 글 -->
 	<delete id="delete">
 	<![CDATA[
 		delete from showdown where pw=#{pw} and no=#{no}
 	]]>
 	</delete>
 	
  </mapper>