.star-rating {
    direction: rtl;
    font-size: 2em;
    unicode-bidi: bidi-override;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    color: #ddd;
    cursor: pointer;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #ffcc00;
}

.star-rating input[type="radio"]:checked ~ label {
    color: #ffcc00;
}
